.button{
    display: inline-block;
    padding: 8px 30px;
    background-color: #FFD734;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
    font-size: 16px;
}